@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); 


html{scroll-behavior: smooth;}

body{
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #000;
  color:#fff;
  font-weight: 700; 
}

/* top button */
.top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  
}
.top a{
  display: block;
  width: 60px;
  height: 60px;
  background: url(../image/top.png) no-repeat;
  transition: 0.35s;
}

/* header----------------- */
nav{
  width: 100%;
  height: 70px;
  background-color: #222;
}
.navin{
  /* border: 1px solid red; */
  display: flex;
  width: 1400px;
  height: inherit;
  color: #fff;
  margin: auto;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
}
.gnb{display: flex;}
.gnb li a{
  /* border: 1px solid red; */
  display: block;
  width: 110px;
  height:70px;
  line-height: 70px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}
.gnb li:hover a{
  background-color: goldenrod;
  color: #111;
}



/* Main Visual--------------- */
main{
  position: relative;
  width: 100%;
  height: 700px;
  background: url(../image/mv2.jpg) no-repeat center top fixed;
  background-size: cover;
  transition: 0.3s;
}
main .title{
  /* border: 1px solid red; */
  position: absolute;
  text-transform: uppercase;
  top: 50px;
  left: 70px;
  font-size: 40px;
  z-index: 2;
}
main .title h3{
  color: #ffcc66;
  font-size: 40px;
}
main .title a{
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  border-radius: 20px;
  font-size:16px;
  text-align: center;
  line-height: 40px;
  transform: translate(10px,30px);
  transition: 0.5s;
}
main .title a:hover {
  background-color: #fff;
  color: #111;

}

main .cover{
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}
main:hover{
  background: url(../image/mv3.png) no-repeat center bottom fixed;
  background-size: cover;}


/* section_product--------------- */

.product_img, .story_img, .recipe_img, .shop_img {
  /* border: 1px solid red; */
  width:1200px;
  margin: 50px auto 0;
}
section div h1{
  font-size: 40px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  padding: 90px 0 40px ;
}


.product_img ul{
  display: flex;
  justify-content: space-between;
  margin-top: 10px ;
}
.product_img ul li{
  width: 260px;
  height:350px; 
  border: 1px solid #666;
  background-color: #111;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: 0.5s;
}
.product_img ul li:hover{
  box-shadow: 0 0 35px orange;
}
.product_img ul li img{
  /* border: 1px solid red; */
  width: 270px;
  height: 440px;
  transform: translateY(-20px);
}
.product_img ul li p{
  font-size: 18px;
  transform: translateY(-15px);
}
.m_btn{
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 100px auto 80px;
  transition: 0.3s;
}
.m_btn:hover{
  background-color: #ffcc66;
  color: #222;
}



/* section_story--------------- */

#story{
  border: 1px solid #111;
  background-color: #111;
}
.story_img{
  border: 1px solid #CCC;
  margin-top: 40px;
  margin-bottom: 70px;
}

.story_img ul{
  width: inherit;
  height: 600px;
  display: flex;}
.story_img ul li{
  border-right: 5px solid #ffcc66;
  flex: 0.5;
  filter: grayscale(1);
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.story_img li:last-child{border-right: none;}

.story_img li:nth-child(1){background: url(../image/history.jpg) no-repeat center center;}
.story_img li:nth-child(2){background: url(../image/MicroDraught.jpg) no-repeat center center;}
.story_img li:nth-child(3){background: url(../image/w_storehouse.jpg) no-repeat center center;}
.story_img li:nth-child(4){background: url(../image/adposter.jpg) no-repeat center center;}
.story_img li:nth-child(5){background: url(../image/world_records.png) no-repeat center center;}
.story_img li:hover{
  flex: 1;
  filter: grayscale(0);
}



.content{
  text-transform: capitalize;
  position: absolute;
  bottom: -200px;
  background-color:rgba(0,0,0,0.9) ;
  width: 100%;
  height: 150px;
  text-align: center;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 15px;
  transition: 0.5s;
}
.content p{
  margin-top: 10px;
  font-weight: normal;
  line-height: 20px;
}
.story_img li:hover .content{
  bottom: 0;
  transition-delay: 0.3s;
}


/* section_recipe--------------- */
.recipe_img{
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}
.food{
  position: relative; 
  width: 350px;
  height: 300px;
  overflow: hidden;
  transition: 0.3s;
}
.food img{
  border: 1px solid #666;
  border-radius: 10px;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.food:hover{box-shadow: 0 0 10px #fff;}

.caption{
  position: absolute;
  text-transform: capitalize;
  top: 100%;
  width: inherit;
  padding: 50px 0;
  line-height: 35px;
  text-align: center;
  transition: 0.5s;
  color: #fff;
}
.caption p{
  font-size: 35px;
}
.caption p span{
  display: block;
  font-size: 18px;
}
.caption a{
  text-decoration: underline;
  padding-top: 70px;
  color: gold;
  font-size: 16px;
  text-transform: uppercase;
}
.food:hover .caption{
  top:40%;
  background: linear-gradient(to top,olivedrab,transparent);
  
}




/* section_shop--------------- */
#shop{
  background-color: #111;
  border: 1px solid #111;
}

.shop_img{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}
.item{
  border: 1px solid #ccc;
  width: 400px;
  height: 400px;
  margin: 0 40px;
  position: relative;
}
.item:hover img{filter: blur(3px);}

.text{
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit; 
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px 0;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
}
.text h2{
  font-size: 35px;
}
.text p{
  margin: 25px 0;
  font-size: 22px;
  font-style: normal;
}
.text a{
  font-size: 20px;
  text-transform: uppercase;
  background-color:#ffcc66 ;
  padding: 10px 40px;
  color: #111;
  transition: 0.3s;
}
.text a:hover{background-color: #fff;}





/* footer */
footer{
  
  width: 100%;
  height: 100px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-size: 15px;
  color: #ccc;
}
footer ul{display: flex;}

footer ul li{
  padding: 0 5px;
  transition: 0.2s;}
.foot_list li:not(:first-child){border-left: 1px solid #999 ;}
footer ul li:hover{color: #fff;}
address{
  width:600px;
  /* border: 1px solid #000; */
  font-style: normal;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  /* border: 1px solid red; */
}
.sns a{
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
  transition: 0.3s
}
.fa:hover{color: #fff;}
